@(message: String)

@main("Add premises") {

@if(flash.containsKey("typeerror")) {

<div class="span2 offset2 alert alert-danger ">
        <button type="button" class="close" data-dismiss="alert">x</button>
        &lt;!&ndash;<strong>Error while Loggin in!</strong>&ndash;&gt;
        <p>@flash.get("typeerror")</p>
    </div>

}






<form method="post" class="panel" role="form" action="@routes.CPremise.AddPremise()">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Add Premise
            </h3>
                <br>
            <br>
@*
            <p align="right">    <a class="btn btn-primary m-b-10 fa fa-chevron-down" href="@routes.CCards.RenderImport()">Import Csv File</a></p>
*@

            <br>

            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Premise Name</label>
                <div class="col-lg-9 col-md-8">
                    <input type="text" id="premise" class=" form-control" required rows="1" name="premise" placeholder="Enter premise name" ></input>
                </div>

                                    <br>

                                <br>
                                <p class="submit"><input  id="button" class="btn btn-primary m-b-10" type="submit" name="commit" value="Submit Premise">
                                    <a class="btn btn-danger m-b-10" href="@routes.CCards.RenderViewCard()">Cancel</a></p> </div>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
                </div>
            </div>

</form>
}
