
@(message: String)


@main("View premises") {
<script type="text/javascript">
          $(document).ready(function() {

            $('#users_table').DataTable( {
              "PaginationType": "bootstrap",
              "responsive": true,
              "bProcessing": true,
              "aaSorting": [[ 0, "asc" ]],
              "bServerSide": true,
              "sAjaxSource": "@routes.CPremise.premiseList()",
              dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
              "aoColumns": [
                  { "mDataProp": "aid" },
                { "mDataProp": "premiseName" },





              ]

            } );

          } );

  </script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                   Premise List

                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
              <a href="@routes.CPremise.RenderAddPremise()" class="btn btn-primary m-b-10">Add Premises</a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="users_table">
                    <thead>
                    <tr>
                        <th>
                            No.
                        </th>
                        <th>
                            Premise Name
                        </th>


                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>

</div>

}