@(message: String,mVisitorRecords: MVisitors)

@main("Visitor details") {

    <style type="text/css">

    form {
        align-content: center;
        -moz-margin-start: 10%;

        text-align: left;

    }
        body{
            background-color: #f0f2f7;
        }
        button{
            width: 15%;
            margin-right: inherit;

        }



    </style>

@*<center><form method="post" class="panel" role="form" action="#">
    <div class="wrapper">*@




    <form method="post" class="panel" role="form" action="">
        <div class="wrapper" >

        <div class="page-head">
            <h3 class="m-b-less">
             <center>   View Details of the Visitor</center>
            </h3>
        </div>


            <div class="form-group">
                <a  id="link" onclick="location.href=this.href+'?key='+referrer;return false;"><button class="btn btn-primary ">   Back To List  </button> </a>
            </div>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label"> </label>
            <img  src="data:image/png;base64, @mVisitorRecords.QrImage" check-image
            alt=""  >

        </div>
            <br>


    <div class="form-group">
        <label class="col-lg-2 col-md-3 control-label"> </label>
        <img style="max-width: 300px; height: auto;" src="data:image/png;base64, @mVisitorRecords.Image" check-image
        alt="The id image not available"  >

    </div>
            <br>



        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">FullName</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.FullName</label>
            </div>
        </div>
            <br>



        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Email</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.Email</label>
            </div>
        </div>
            <br>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Company</label>

            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.Company</label>
            </div>
        </div>
        <br>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">National/passport Id</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.NationalId</label>
            </div>
        </div>
            <br>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Country</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.Country</label>
    </div>
        </div>
            <br>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">National Id/Passport</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.NationalId</label>
            </div>
        </div>
        <br>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Phone Number</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.phoneNumber</label>
            </div>
        </div>
        <br>




        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Gender</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.Gender</label>
            </div>
        </div>
        <br>



        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Language</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.Languages</label>
            </div>
        </div>
            <br>

            <div class="form-group">
                <label class="col-lg-2 col-md-3 control-label">Visit Type</label>
                <div class="col-lg-9 col-md-8">
                    <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.Type</label>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-lg-2 col-md-3 control-label">Host</label>
                <div class="col-lg-9 col-md-8">
                    <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.Host</label>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-lg-2 col-md-3 control-label">Date</label>
                <div class="col-lg-9 col-md-8">
                    <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.Date</label>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-lg-2 col-md-3 control-label">Time in</label>
                <div class="col-lg-9 col-md-8">
                    <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.TimeIn</label>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-lg-2 col-md-3 control-label">Time Out</label>
                <div class="col-lg-9 col-md-8">
                    <label class="col-lg-6 col-md-8 control-label">@mVisitorRecords.TimeOut</label>
                </div>
            </div>
            <br>



            <a id="link2" onclick="location.href=this.href+'?key='+referrer;return false;"><button class="btn btn-primary ">   Back To List  </button> </a>


        <script>
                var referrer =  document.referrer;
                var scrt_var = 10;
                document.getElementById("link2").setAttribute("href",referrer);
        </script>

            <script>
                    var referrer =  document.referrer;
                    var scrt_var = 10;
                    document.getElementById("link").setAttribute("href",referrer);
            </script>


        </div></form>

    </center>
}
