@(message: String,mExpectedVisitors: MExpectedVisitors)

@main("Visitor details") {

    <style type="text/css">

    form {
        align-content: center;
        -moz-margin-start: 10%;

        text-align: left;

    }
        body{
            background-color: #f0f2f7;
        }
        button{
            width: 15%;
            margin-right: inherit;

        }



    </style>

@*<center><form method="post" class="panel" role="form" action="#">
    <div class="wrapper">*@




    <form method="post" class="panel" role="form" action="">
        <div class="wrapper" >

        <div class="page-head">
            <h3 class="m-b-less">
             <center> Full Details of the Expected Visitor</center>
            </h3>
        </div>
            <div class="form-group">
                <a  id="link" onclick="location.href=this.href+'?key='+referrer;return false;"><button class="btn btn-primary ">   Back To List  </button> </a>
            </div>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">FullName</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.FullName</label>
            </div>
        </div>
            <br>



        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Email</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.Email</label>
            </div>
            <br>
        </div>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Company</label>

            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.Company</label>
            </div>
        </div>
        <br>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">National/passport Id</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.NationalId</label>
            </div>
        </div>
            <br>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Country</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.Country</label>
    </div>
        </div>
            <br>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">National Id/Passport</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.NationalId</label>
            </div>
        </div>
        <br>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Phone Number</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.phoneNumber</label>
            </div>
        </div>
        <br>


        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Visit Type</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.visitType</label>
            </div>
        </div>
        <br>

        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Gender</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.Gender</label>
            </div>
        </div>
        <br>



        <div class="form-group">
            <label class="col-lg-2 col-md-3 control-label">Language</label>
            <div class="col-lg-9 col-md-8">
                <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.Languages</label>
            </div>
        </div>
            <br>

            <div class="form-group">
                <label class="col-lg-2 col-md-3 control-label">Date Expected</label>
                <div class="col-lg-9 col-md-8">
                    <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.Date</label>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-lg-2 col-md-3 control-label">Time </label>
                <div class="col-lg-9 col-md-8">
                    <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.time</label>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-lg-2 col-md-3 control-label">Vip </label>
                <div class="col-lg-9 col-md-8">
                    <label class="col-lg-6 col-md-8 control-label">@mExpectedVisitors.vip</label>
                </div>
            </div>
            <br>


            <a id="link2" onclick="location.href=this.href+'?key='+referrer;return false;"><button class="btn btn-primary ">   Back To List  </button> </a>


        <script>
                var referrer =  document.referrer;
                var scrt_var = 10;
                document.getElementById("link").setAttribute("href",referrer);
        </script>

            <script>
                    var referrer =  document.referrer;
                    var scrt_var = 10;
                    document.getElementById("link2").setAttribute("href",referrer);
            </script>


        </div></form>

    </center>
}
