
@(message: String )


@main(message) {
<script type="text/javascript">
          $(document).ready(function() {

            $('#visitors_table').DataTable( {
              "PaginationType": "bootstrap",
              "responsive": true,
              "bProcessing": true,
              "aaSorting": [[ 0, "desc" ]],
              "bServerSide": true,
              "sAjaxSource": "@routes.CVisitors.ReccuringVisitorsList()",
              dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
              "aoColumns": [
                { "mDataProp": "FullName" },
                { "mDataProp": "NationalId" },
                { "mDataProp": "Company" },
                { "mDataProp": "Country" },


                  { "mDataProp": "phoneNumber" },
                  { "mDataProp": "NoOfTimes" },


                  {
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var returnButton = "<a class='hidden-xs' href='/RenderViewImageRecurring?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-primary btn-xs'><i class='fa fa-eye'> view details</i></button> </a>";
                          return  returnButton;
                      }
                  },



              ]

            } );

              } );




  </script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                  Recurring  Visitors List/Records



                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="visitors_table">
                    <thead>
                    <tr>
                        <th>
                            FullName
                        </th>

                        <th>
                            Id Number
                        </th>

                        <th>
                            Company
                        </th>

                        <th>
                            Country
                        </th>

                        <th>
                            phone
                        </th>

                       <th>
                            No of visits
                        </th>
                        <th>
                              Details
                        </th>
                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>
</div>

@* Create the modal class *@
    <div class="modal about-modal " id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <center>	<h4 class="modal-title">Visitor Details</h4></center>
                </div>
                <div class="modal-body">
                    <div class="agileits-w3layouts-info">
                        <center><img src="data:image/png;base64, " class="img-responsive img-circle" alt="" width="200" height="200"/></center>
                        <p><font size="3px"></font></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


}