
@(message: String)


@mainEmployee("View Your Expected Visitors") {
<script type="text/javascript">
          $(document).ready(function() {

            $('#employees_table').DataTable( {
              "PaginationType": "bootstrap",
              "responsive": true,
              "bProcessing": true,
              "aaSorting": [[ 0, "desc" ]],
              "bServerSide": true,
              "sAjaxSource": "@routes.CExpectedVisitors.YourExpectedVisitorsList()",
              dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
              "aoColumns": [
                  { "mDataProp": "FullName" },
                  { "mDataProp": "Company" },

                  { "mDataProp": "Date" },


                  {
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var returnButton = "<a class='hidden-xs' href='/RenderViewYourExpectedVisitorsDetails?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-primary btn-xs'><i class='fa fa-eye'> view details</i></button> </a>";
                          return  returnButton;
                      }
                  },





                  {
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var status = obj.isActive;
                          if(status==1){
                              var returnButton = "<a class='hidden-xs' href='/DeactivateExpectedVisitor?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+">  <button class='btn btn-danger btn-xs'>DELETE</button> </a>";
                              return  returnButton;
                          }
                          else if (status==0){
                              var activateButton = "<a class='hidden-xs'  href='/ActivateExpectedVisitor?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-success btn-xs'>ACTIVATE</button></a>";
                              return  activateButton;
                          }
                      }

                  },
              ]

            } );

          } );

  </script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                    your expected visitor list

                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
              <a href="@routes.CExpectedVisitors.RenderAddExpectedVisitors()" class="btn btn-primary m-b-10">Add Expected Visitors</a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="employees_table">
                    <thead>
                    <tr>
                        <th>
                            FullName
                        </th>


                        <th>
                            Company
                        </th>





                        <th>
                        Date
                         </th>

                        <th>
                            Details
                        </th>


                        <th>DELETE</th>

                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>

</div>

}