
@(message: String)


@mainEmployee(message) {
<script type="text/javascript">
          $(document).ready(function() {

            $('#visitors_table').DataTable( {
              "PaginationType": "bootstrap",
              "responsive": true,
              "bProcessing": true,
              "aaSorting": [[ 0, "desc" ]],
              "bServerSide": true,
              "sAjaxSource": "@routes.CExpectedVisitors.YourVisitorsList()",
              dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
              "aoColumns": [
                { "mDataProp": "FullName" },
                { "mDataProp": "Company" },
                 { "mDataProp": "TimeIn" },
                 { "mDataProp": "TimeOut" },
                 { "mDataProp": "Date" },



                  {
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var returnButton = "<a class='hidden-xs' href='/RenderViewYourVisitorsDetails?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-primary btn-xs'><i class='fa fa-eye'> view details</i></button> </a>";
                          return  returnButton;
                      }
                  },



              ]

            } );

          } );

  </script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                   Total Visitors List

                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="visitors_table">
                    <thead>
                    <tr>
                        <th>
                            FullName
                        </th>


                        <th>
                            Company
                        </th>


                        <th>
                            Time In
                        </th>

                        <th>
                            Time Out
                        </th>

                        <th>
                            Date
                        </th>

                        <th>
                            Full Details
                        </th>

                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>
</div>

</div>
}