@(message: String)

@main("Add User") {
<script type="text/javascript">



    function fileValidation(){
        var password;
        var confirm;
        password=document.getElementById("password").value;
        confirm=document.getElementById("ConfirmPassword").value;
        if(!(password===confirm))
        {
            alert("password and confirm password should be equal!!");
            return false
        }
        else if(passwordStrength(password)<50){
            alert("password too weak,improve,try combination of different characters!!");
            return false
        }
        else
        {
            return  true;
        }


    }

    function passwordStrength(password) {
        var rating = [
            0, "<font color='black'> Very Weak </font>",
            25, "<font color='red'> Weak </font>",
            50, "<font color='purple'> Medium </font>",
            75, "<font color='blue'> Good </font>",
            100, "<font color='green'> Strong </font>"];

        var score = 0;
        var pass = "";

        if (password.length > 8) {
            score += 25;

        }
        if ((password.match(/[a-z]/)) && (password.match(/[A-Z]/))) {
            score += 25
        }
        if (password.match(/[\!\#\$\%\^\&\*\?\_\~\-\(\)]+/)) {
            score += 25;
        }
        if (password.match(/[0-9]/)) {
            score += 25
        }
        for (var i = rating.length - 1; i >= 0; i -= 1) {
            if (score >= rating[i]) {
                pass = rating[i +1];
                break;
            }
        }
        document.getElementById("passwordDescription").innerHTML = "<b>" + pass + score + "</font></b>"
        document.getElementById("passwordStrength").className = "strength" + score +"%";
        return score;
    }





</script>




<form method="post" class="panel" role="form" action="@routes.CUsers.AddUser()">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Add Users
            </h3>
                <br>
            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">UserName</label>
                <div class="col-lg-9 col-md-8">
                    <input type="text" id="username" class=" form-control" required rows="1" name="UserName" placeholder="Enter UserName" ></input>
                </div>
                <br>

                <br>
                <div class="form-group">
                    <label class="col-lg-3 col-md-4 control-label">Email</label>
                    <div class="col-lg-9 col-md-8">
                        <input type="email" class=" form-control" rows="1" name="Email" placeholder="Enter Email" ></input>
                    </div>
                    <br>

                    <br>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 control-label">EmploymentNumber</label>
                        <div class="col-lg-9 col-md-8">
                            <input type="number" class=" form-control"  rows="1" name="EmploymentNumber" placeholder="Enter EmploymentNumber" ></input>
                        </div>
                    <br>

                    <br>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 control-label">Password</label>
                            <div class="col-lg-9 col-md-8">
                                <input id = "password" type="password" class=" form-control" required rows="1" name="Password" placeholder="Enter Password"autocomplete="off" onchange="passwordStrength(this.value);"><span id="passwordStrength" class="strength0"><span id = "passwordDescription"><br/> </input>
                            </div>


                            <br>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-4 control-label">ConfirmPassword</label>

                                <div class="col-lg-9 col-md-8">
                                    <input id = "ConfirmPassword" type="password" class=" form-control" required rows="1" name="ConfirmPassword" placeholder="Enter ConfirmPassword" ></input>
                                </div>
                                <br>
                                <br>
                            </div>

                                <div class="form-group clearfix">
                                        <label class="col-lg-3 col-md-4 control-label">Select user type:</label>
                                        <div class="col-lg-9">
                                            <select class="form-control  select2"  data-activates='dropdown1' name="UserType" >
                                                <option value="mobile">MOBILE</option>
                                                <option value="web">WEB</option>
                                                <option value="EVENT WEB USER">EVENT WEB USER</option>
                                                <option value="EVENT MOBILE USER">EVENT MOBILE USER</option>

                                            </select>
                                        </div>


                                    <br>
                                </div>

                                <br>
                                <p class="submit"><input  id="button" class="btn btn-primary m-b-10" type="submit" name="commit" onclick="return fileValidation()" value="Add User">
                                    <a class="btn btn-danger m-b-10" href="@routes.CUsers.RenderViewUsers()">Cancel</a></p> </div>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
                </div>
            </div>

</form>
}
