@(message: String,eventAid2:String)

@mainEvent("Add event visitors") {
    <script type="text/javascript">

        //FUNCTION NOT USED
 function myFunction(name) {
     $.ajax({
         url: "@routes.CExpectedEventVisitors.RenderImportVisitors()",
         type: "get",
         data: {
            eventName:name
         },

         success: function(response) {
             location.href="/RenderImportVisitors?";
         },
         error: function(xhr) {
            alert("error occured");
         }
     });

        }
 function fileValidation(){
     var number=document.getElementById('phone').value;
     var len=number.length;
     if(len<10 || len>13){
        alert("number should be between 10 and 13, your length is: "+len);
         return false;
     }
     else{
         return true;
     }
 }

    </script>

    @*SENDING EVENT AID TO RENDER IMPORT VISITORS*@
    <form method="get" action="@routes.CExpectedEventVisitors.RenderImportVisitors()">
        <input type="hidden" name="eventAid" value="@eventAid2">
    <p align="right">    <button class="btn btn-primary m-b-10 fa fa-chevron-down" name="submit">Import Csv File</button></p>
    </form>


    <form method="post" class="panel" role="form" action="@routes.CExpectedEventVisitors.ReceiveExpectedEventVisitors()">
                <div class="wrapper">

        <div class="page-head" id="headline">
            <h3 class="m-b-less">
                Add  Expected Visitor
            </h3>
            <br>

            <br>




            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">FullName</label>
                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" required rows="1" name="FullName" placeholder="Enter FullName" ></input>
                </div>
                <br>


            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Email</label>
                <div class="col-lg-9 col-md-8">
                    <input type="email" class=" form-control" rows="1" name="Email" placeholder="Enter Email" ></input>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Phone Number</label>

                <div class="col-lg-9 col-md-8">
                    <input type="number" class=" form-control" required rows="1" name="PhoneNumber"  placeholder="Enter Phonenumber" id="phone" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Company</label>

                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" required rows="1" name="Company" placeholder="Enter Company" >
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Designation</label>

                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" rows="1" name="Designation" placeholder="Enter your designation" ></input>
                </div>
            </div>
                <br>



                        <div class="form-group clearfix">
                            <label class="col-lg-3 col-md-4 control-label">confirmation</label>
                            <div class="col-lg-9">
                                <select class="form-control  select2"  data-activates='dropdown1' name="Confirmation" >
                                    <option value="yes">yes</option>
                                    <option value="no">no</option>
                                </select>
                            </div>
                        </div>


                        <br>
            <input type="hidden" class="form-control" rows="1" name="eventAid" value="@eventAid2" > </input>
                        <br>


            <p class="submit"><input  id="button" class="btn btn-primary m-b-10" type="submit" name="commit" ONCLICK="return fileValidation()" value="Submit expected visitor">
                <a class="btn btn-danger m-b-10" href="@routes.CExpectedVisitors.RenderAddExpectedVisitors()">Cancel</a> </div>
                            </div>
             </div>
            </div>
        </div>
            </div></div></div>

</form>
}
