@(message: String)

@mainEvent("Add Event") {

@if(flash.containsKey("typeerror")) {

<div class="span2 offset2 alert alert-danger ">
        <button type="button" class="close" data-dismiss="alert">x</button>
        &lt;!&ndash;<strong>Error while Loggin in!</strong>&ndash;&gt;
        <p>@flash.get("typeerror")</p>
    </div>

}






<form method="post" class="panel" role="form" action="@routes.CEvents.AddEvent()">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Add Events
            </h3>
                <br>

            <br>

            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Event Name</label>
                <div class="col-lg-9 col-md-8">
                    <input type="text" id="eventName" class=" form-control" required rows="1" name="eventName" placeholder="Enter Event Name" ></input>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Event Venue</label>
                <div class="col-lg-9 col-md-8">
                    <input type="text" id="eventVenue" class=" form-control" required rows="1" name="eventVenue" placeholder="Enter Event Venue" ></input>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Event Date</label>
                <div class="col-lg-9 col-md-8">
                    <input type="Date" id="eventDate" class=" form-control" required rows="1" name="eventDate" placeholder="Enter Event Date" ></input>
                </div>
            </div>
            <br>

                                <br>
                                <p class="submit"><input  id="button" class="btn btn-primary m-b-10" type="submit" name="commit" value="CREATE EVENT">
                                    <a class="btn btn-danger m-b-10" href="@routes.CCards.RenderViewCard()">Cancel</a></p> </div>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
                </div>
            </div>

</form>
}
