@(message: String,mVisitorRecords: MEventVisitor)

@mainEvent("Visitor details") {

    <style type="text/css">

    form {
        align-content: center;
        -moz-margin-start: 10%;

        text-align: left;

    }
        body{
            background-color: #f0f2f7;
        }
        button{
            width: 15%;
            margin-right: inherit;

        }



    </style>

    <center>
    <form method="get" class="panel" role="form" action="@routes.CEvents.RenderViewEvents()">
        <div class="wrapper">

            <div class="page-head">
                <h3 class="m-b-less">
                 <center>   View Details of the Visitor</center>
                </h3>
                <br>

                <br>

                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label"> </label>


                    <img  src="data:image/png;base64, @mVisitorRecords.cardImage" check-image
                    alt="no image for now"  >


                    <br>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label">FullName</label>
                    <div class="col-lg-9 col-md-8">
                        <label class="col-lg-3 col-md-4 control-label">@mVisitorRecords.FullName</label>
                    </div>
                    <br>

                    <br>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Email</label>
                        <div class="col-lg-9 col-md-8">
                            <label class="col-lg-3 col-md-4 control-label">@mVisitorRecords.Email</label>                        </div>
                        <br>

                        <br>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label">Organisation</label>

                            <div class="col-lg-9 col-md-8">
                                <label class="col-lg-3 col-md-4 control-label">@mVisitorRecords.Organisation</label>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label">Phone Number</label>

                            <div class="col-lg-9 col-md-8">
                                <label class="col-lg-3 col-md-4 control-label">@mVisitorRecords.PhoneNumber</label>
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label">Designation</label>

                            <div class="col-lg-9 col-md-8">
                                <label class="col-lg-3 col-md-4 control-label">@mVisitorRecords.Designation</label>
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Time in</label>
                        <div class="col-lg-9 col-md-8">
                            <label class="col-lg-3 col-md-4 control-label">@mVisitorRecords.timeIn</label>
                        </div>
                    </div>
                    <br>

                        <!--<div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label">National/passport Id</label>

                            <div class="col-lg-9 col-md-8">
                                <label class="col-lg-3 col-md-4 control-label">@mVisitorRecords.NationalId</label>                            </div>
                            <br>

                            <br>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 control-label">Country</label>

                                <div class="col-lg-9 col-md-8">
                                    <label class="col-lg-3 col-md-4 control-label">@mVisitorRecords.Country</label>
                                </div>
                                <br>



                        </div>-->

                           <!-- <div class="form-group">
                                <label class="col-lg-2 col-md-3 control-label">No Of Visits </label>

                                <div class="col-lg-9 col-md-8">
                                    <label class="col-lg-3 col-md-4 control-label">mVisitorRecords.NoOfTimes</label>
                                </div>
                                <br>
                            </div>-->


                        <a id="link" href="@routes.CEvents.RenderViewEvents()"><button class="btn btn-primary ">   Back To Listing  </button> </a>


                       <!--<a id="link" onclick="location.href=this.href+'?key='+referrer;return false;"><button class="btn btn-primary ">   Back To List  </button> </a>


                            <script>
                                    var referrer =  document.referrer;
                                    var scrt_var = 10;
                                    document.getElementById("link").setAttribute("href",referrer);
                            </script>-->




                    </div>
                    </div>
                </div>
            </div></div>
    </form>
    </center>
}
