@(message: String,eventAid :String)

@mainEvent("import CSV") {

<script type="text/javascript">
        function customAlert(msg) {

            var alertDiv = "<div style='position: fixed; top: 20px; left: 20px;'>"+msg+"</div>";
            document.getElementById('body')[0].appendChild(alertDiv);
        }
    function fileValidation(){
        var fileInput = document.getElementById('file');
        var filePath = fileInput.value;
        var allowedExtensions = /(\.csv)$/i;
        if(!allowedExtensions.exec(filePath)){
            ///customAlert('Please upload file having extensions .txt/.csv');
           // window.onload = function () {}
            alert('Please upload file having extensions .csv');
            fileInput.value = '';
            return false;
        }else{
            return  true;
        }
    }

</script>


<center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Please read Instruction and help</button></center>
<div class="modal about-modal " id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn btn-primary m-b-10" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>	<h4 class="modal-title">Upload csv help</h4></center>
            </div>
            <div class="modal-body">
                <div class="agileits-w3layouts-info">
                    <p><font size="3px">The data to be uploaded must:
                        <ol>
                            <li>Be in a .csv file format (convert your stylesheet to .csv)</li>
                            <li>Should not contain comma(,).Remove all comma in your stlysheet </li>
                            <li>Arrangement of columns should be:<ul>
                                <li>organisation name</li>
                                <li>name of person</li>
                                <li>Designation</li>
                                <li>Email</li>
                                <li>Phone</li>
                            </ul>
                            </li>

                        </ol>

                    </font></p>
                </div>
            </div>
        </div>
    </div>
</div>







<form method="post" class="panel" role="form" action="@routes.CExpectedEventVisitors.addVisitorFromCsv()" enctype="multipart/form-data">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                <br>
                <br>
                <br>
                <br><br>

                <center> Import CSV file With Visitors Details</center>
            </h3>
            <br>
            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label"></label>
                <div class="col-lg-9 col-md-8">
                    <input type="file" style="height:100px" align="center" id="file"  accept=".csv" class=" form-control " required rows="2"  name="cardFile" placeholder="Enter card Number" onchange="return fileValidation()" ></input>
                </div>
<input type="hidden" name="eventAid" value="@eventAid">
                <br>
                <br>
                <br>
                <br>
                <p class="submit" align="center"><input  id="button" class="btn btn-primary m-b-10" type="submit" name="commit" value="SUBMIT FILE" onclick="fileValidation()">
                    @* <a class="btn btn-danger m-b-10" href="#">Cancel</a></p> </div>*@
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>






</form>

}
