
@(message: String)


@mainEvent("View Events") {
<script type="text/javascript">
          $(document).ready(function() {

            $('#users_table').DataTable( {
              "PaginationType": "bootstrap",
              "responsive": true,
              "bProcessing": true,
              "aaSorting": [[ 0, "asc" ]],
              "bServerSide": true,
              "sAjaxSource": "@routes.CEvents.OnCompletedeventList()",
              dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
              "aoColumns": [
                { "mDataProp": "eventName" },
                { "mDataProp": "eventVenue" },
                { "mDataProp": "eventDate" },





                  {
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var returnButton = "<a class='hidden-xs' href='/RenderViewExpectedEventVisitors?id="+sReturn+"' id='cedit' style='float: center'" +
                              "data-title="+sReturn+">  <button class='btn btn-primary btn-xs'><i class='fa fa-eye '>  View expected visitors</i></button> </a>";
                          return  returnButton;
                      }

                  },

                  {
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var returnButton = "<a class='hidden-xs' href='/RenderViewAttendedEventVisitors?id="+sReturn+"' id='cedit' style='float: center'" +
                              "data-title="+sReturn+">  <button class='btn btn-primary btn-xs'><i class='fa fa-eye '> View attended visitors</i></button> </a>";
                          return  returnButton;
                      }

                  },





              ]

            } );

          } );

  </script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                    Event List

                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
              <a href="@routes.CEvents.RenderAddEvent()" class="btn btn-primary m-b-10">Add Event</a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="users_table">
                    <thead>
                    <tr>
                        <th>
                           Event Name
                        </th>
                        <th>
                           Event Venue
                        </th>
                        <th>
                            Event Date
                        </th>


                        <th>
                            View Expected Visitors
                        </th>

                        <th>View Attended Visitors</th>

                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>

</div>

}