
@(message: String,eventAid:Long)


@mainEvent("View Attended Visitors") {
<script type="text/javascript">

          $(document).ready(function() {

            $('#employees_table').DataTable( {
              "PaginationType": "bootstrap",
              "responsive": true,
              "bProcessing": true,
              "aaSorting": [[ 0, "asc" ]],
              "bServerSide": true,
              "sAjaxSource": "@routes.CExpectedEventVisitors.AttendedEventVisitorsList()",
                "fnServerParams": function ( aoData ) {
                    aoData.push( { "name": "eventAid", "value": "@eventAid" } );
                },


              dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
              "aoColumns": [
                  { "mDataProp": "FullName" },
                  { "mDataProp": "Email" },
                  { "mDataProp": "Organisation" },
                  { "mDataProp": "PhoneNumber" },
                  { "mDataProp": "Designation" },
                  { "mDataProp": "timeIn" },


                  {
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var returnButton = "<a class='hidden-xs' href='/RenderViewDetails?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-primary btn-xs'><i class='fa fa-eye'> view full details</i></button> </a>";
                          return  returnButton;
                      }
                  },



              ]

            } );

          } );

  </script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                    Attended visitor list for
<form>

</form>

                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="employees_table">
                    <thead>
                    <tr>
                        <th>
                            FullName
                        </th>

                        <th>
                            Email
                        </th>

                        <th>
                           Organisation
                        </th>

                        <th>
                            Phone Number
                        </th>

                        <th>
                            Designation
                        </th>

                        <th>
                            Time In
                        </th>


                        <th>

                        </th>

                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>

</div>

}