@(message: String)

@main("import CSV") {

<script type="text/javascript">
    function fileValidation(){
        var fileInput = document.getElementById('file');
        var filePath = fileInput.value;
        var allowedExtensions = /(\.txt|\.csv)$/i;
        if(!allowedExtensions.exec(filePath)){
            alert('Please upload file having extensions .txt/.csv');
            fileInput.value = '';
            return false;
        }else{
            return  true;
        }
    }

</script>











<form method="post" class="panel" role="form" action="@routes.CCards.addCardFromCsv()" enctype="multipart/form-data">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                <br>
                <br>
                <br>
                <br><br>

                <center> Import CSV file With cards details</center>
            </h3>
            <br>
            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label"></label>
                <div class="col-lg-9 col-md-8">
                    <input type="file" style="height:100px" align="center" id="file"  accept=".csv" class=" form-control " required rows="2"  name="cardFile" placeholder="Enter card Number" onchange="return fileValidation()" ></input>
                </div>

                <br>
                <br>
                <br>
                <br>
                <p class="submit" align="center"><input  id="button" class="btn btn-primary m-b-10" type="submit" name="commit" value="SUBMIT FILE" onclick="fileValidation()">
                    @* <a class="btn btn-danger m-b-10" href="#">Cancel</a></p> </div>*@
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>






</form>
}
